<main>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-10 col-lg-8 px-5 px-sm-0">
        <h5 class="ml-5 my-4"><span class="px-3">マイページ</span></h5>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2 col-md-2 col-lg-2 px-5 px-sm-0">
        <h5>登録情報</h5>
      </div>

      <div class="col-sm-2 col-md-2 col-lg-2 px-5 px-sm-0">
        <%= link_to "編集する", edit_customers_path, class: "btn btn-success" %>
      </div>
    </div>

    <div class="row customer">
      <div class="col-sm-3 col-md-3 col-lg-3 px-5 px-sm-0 border">
        <p>氏名</p>
      </div>

      <div class="col-sm-5 col-md-5 col-lg-5 px-5 px-sm-0">
        <p><%= @customer.last_name %><%= @customer.first_name %></p>

      </div>
    </div>
  </div>
</main>
