/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 *{
  margin: 0;
  padding: 0;
 }

 .address_field{
  width: 100%;
 }

 .user{
  width: 80%;
  margin-top: 20px;
 }

 span{
  background-color: #dddddd;
 }

 tr{
  padding-top: 10px;
 }

 .email_field{
  width: 100%;
 }

 .password_field{
  width: 100%;
 }

 .sign{
  width: 50%;
 }

 .grid{
  border: thin solid black;
  height: 50px;
  line-height: 50px;
 }



 p{
  margin: 0px;
 }

 .item{
  background-color: #EEEEEE;
  border-top: 3px solid #CCCCCC;
 }

 .new-item{
  width: 100%;
 }

 .new-item-btn{
  width: 50%;
 }

 .new-genre{
  width: 100%;
 }

 .genre-edit{
  width: 80%;
 }

 .image-size{
  width: 100%;
 }

 .customer-edit{
  width: 100%;
 }

 .customer{
  background-color: #EEEEEE;
  border-top: thin solid #DDDDDD;
  border-bottom: thin solid #DDDDDD;
 }

 .head{
  background-color: #EEEEEE;
  border-top: thin solid #DDDDDD;
  border-bottom: thin solid #DDDDDD;
 }

 .head-item{
  border-bottom: thin solid #DDDDDD;
 }

 .link-color{
  text-decoration: underline;
  color: black;
 }