/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 *{
  margin: 0;
  padding: 0;
 }

 .address_field{
  width: 100%;
 }

 .user{
  width: 80%;
  margin-top: 20px;
 }

 .title{
  background-color: #dddddd;
 }

 tr{
  padding-top: 10px;
 }

 .email_field{
  width: 100%;
 }

 .password_field{
  width: 100%;
 }

 .sign{
  width: 50%;
 }

 .grid-item{
  border: thin solid black;

 }

 p{
  margin: 0px;
 }

 .item-head{
  background-color: #EEEEEE;
  border-top: 3px solid #CCCCCC;
 }

 .new{
  width: 100%;
 }

 .new-item-btn{
  width: 50%;
 }

 .genre-edit{
  width: 80%;
 }

 .image-size{
  width: 100%;
 }

 .customer-edit{
  width: 100%;
 }

 .customer{
  background-color: #EEEEEE;
  border-top: thin solid #DDDDDD;
  border-bottom: thin solid #DDDDDD;
 }

 .head{
  background-color: #EEEEEE;
  border-top: thin solid #DDDDDD;
  border-bottom: thin solid #DDDDDD;
 }

 .head-item{
  border-bottom: thin solid #DDDDDD;
 }

 .link-color{
  text-decoration: underline;
  color: black;
 }

 .price-name{
  font-size: 12px;
 }

 .select-box{
  height: 38px;
 }

 .grid{
  border: thin solid black;
  background-color: #EEEEEE;
 }

 .head-grid{
  border-top: thin solid black;
  border-right: thin solid black;
  border-bottom: thin solid black;
  background-color: #EEEEEE;
 }

 .item-head-grid{
  border-left: thin solid black;
  border-right: thin solid black;
  border-bottom: thin solid black;
 }

 .item-grid{
  border-right: thin solid black;
  border-bottom: thin solid black;
 }

 .cart-item-grid{
  border-top: thin solid black;
  border-right: thin solid black;
  border-bottom: thin solid black;
 }

 .item-grid-link{
  border-bottom: thin solid black;
 }

 .order-head{
  border-top: thin solid black;
  border-right: thin solid black;
  border-bottom: thin solid black;
 }

 .order-grid{
  border-left: thin solid black;
  border-right: thin solid black;
  border-bottom: thin solid black;
 }

 .order-grid-item{
  border-right: thin solid black;
  border-bottom: thin solid black;
 }

 .item-image-grid{
  height: 50px;
 }

 .item-number{
  font-size: 18px;
 }

 .cart-item-image{
  height: 40px;
 }

 .thanks{
  margin-top: 200px;
  margin-bottom: 200px;
 }

 .table-style{
  display: flex;
 }
